body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 40px;
    color: black;
    background-color: white;
}

.header {
    text-align: left;
    margin-bottom: 10px;
}

.contact {
    margin-top: 5px;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

hr {
    margin-top: 5px;
    margin-bottom: 10px;
}

.experience {
    display: flex;
    margin-bottom: 20px;
}

.education {
    display: flex;
    margin-bottom: 20px;
}

.skills {
    display: flex;
    margin-bottom: 20px;
}

.section-title {
    text-align: left;
    width: 25%;
    font-weight: bold;
}

.section-content {
    width: 75%;
}

ul {
    margin-top: 5px;
    padding-left: 15px;
}

.EduInfo {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.EduInfoList {
    padding-left: 20px;
}

.EduSpecs {
    font-style: italic;
    font-size: 10px;
}