body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 40px;
    color: black;
    background-color: white;
}

.header {
    text-align: center;
    margin-bottom: 10px;
}

.contact {
    margin-top: 5px;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

hr {
    margin-top: 5px;
    margin-bottom: 10px;
}

.experience {
    display: flex;
    margin-bottom: 20px;
}

.education {
    display: flex;
    margin-bottom: 20px;
}

.skills {
    display: flex;
    margin-bottom: 20px;
}

.section-title {
    width: 10%;
    font-weight: bold;
    text-decoration: underline;
}

.section-content {
    margin-left: 5px;
}

ul {
    margin-top: 5px;
    padding-left: 15px;
}

.EduInfo {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
}

.EduInfoList {
    padding-left: 40px;
}

.EduSpecs {
    font-style: italic;
    font-size: 10px;
}

.JobDates {
    font-size: 80%;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5px;
    margin-bottom: 0%;
}