body {
    background: #1f2243;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.About {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Skills {
    display: flex;
    margin-bottom: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Projects {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding: 20px 10px;
    background: white;
}

.Projects h3 {
    text-align: center;
    font-size: 25px;
}

.Projects img {
    width: 250px;
    margin: 10px;
    border: 2px solid rgb(255, 255, 255);
    display: block;
    margin: auto;
}

.Projects p {
    text-align: center;
    margin: 15px;
}

.Contact {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}