body {
    background: #54ab61;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: maroon;
    text-align: center;
}

.About {
    color: darkred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Skills {
    color: darkred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Projects {
    display: flex;
    flex-wrap: wrap;
}

.Projects {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: darkred;
    border-radius: 25%;
}

.Contact {
    color: darkred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}